{% extends 'wafer/index.html' %}
{% load news %}
{% block extra_head %}
  {{ block.super }}
  <link rel="alternate" type="application/rss+xml" title="{{ WAFER_CONFERENCE_NAME }} RSS Feed" href="{% url 'news_rss' %}">
  <link rel="alternate" type="application/atom+xml" title="{{ WAFER_CONFERENCE_NAME }} Atom Feed" href="{% url 'news_rss' %}">
{% endblock%}
{% load static %}

{% block content %}
  <div class="row d-flex h-100 my-5">
    <div class="col-lg-5 align-self-center">
      <h2 id="welcome">Welcome to DebConf24!</h2>
      <p>
        The 25th Debian Conference is in Busan, South Korea, Sunday July 28th
        to Sunday August 4th 2024.  DebCamp will be held from Sunday July 21st
        to Saturday July 27th 2024.
      </p>
    </div>
    <div id="jumbotron-img" class="col-lg-7">
      <!-- FIXME -->
      <img class="d-block mx-auto img-fluid" src="{% static 'img/jumbotron-image.svg' %}">
    </div>
  </div>

  <section id="news-section">
    <h2 id="news">News</h2>
    {% recent_news 3 %}
    <div id="more-news-link">
      <a href="{% url 'news' %}" class="btn btn-primary">More news</a>
    </div>
  </section>

  {{ block.super }}
{% endblock %}

{% block debconf_homepage_sponsors %}
  <div class="sponsors-block my-5">
    <h2>Sponsors</h2>
    <p>The awesome organizations who are making DebConf 24 possible.</p>
    {{ block.super }}
  </div>
{% endblock %}
