{% extends "wafer/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Edit Schedule - {{ WAFER_CONFERENCE_NAME }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    {% if validation_errors %}
      <div class="messages alert alert-danger">
        <p><strong>{% trans "Validation errors:" %}</strong></p>
        <ul>
          {% for validation_error in validation_errors %}
            <li>{{ validation_error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div class="col-md-8">
    <div class="dropdown float-right">
      <button class="btn btn-secondary dropdown-toggle" type="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ this_block }} {% blocktrans with block_id=this_block.id %}(Block {{ block_id }}){% endblocktrans %}
      </button>
      <div class="dropdown-menu">
        {% for sched_block in all_blocks %}
          <a class="dropdown-item" href="{% url 'admin:schedule_editor' sched_block.id %}">
             {{ sched_block }} {% blocktrans with block_id=sched_block.id %}(Block {{ block_id }}){% endblocktrans %}
          </a>
        {% endfor %}
      </div>
    </div>
    <h1>{% trans "Schedule Editor" %}</h1>
    <table class="table table-sm">
      <thead>
        <tr>
          <td></td>
          {% for venue in venues %}
            <th>{{ venue.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for slot in slots %}
          <tr>
            <th>
              {{ slot.name }}
              <br>
              <small>{{ slot.start_time }} - {{ slot.end_time }}</small>
            </th>
            {% for venue in slot.venues %}
              <td id="scheduleItem{{ venue.scheduleitem_id }}" data-venue="{{ venue.id }}" data-slot="{{ slot.id }}"
                  class="table-{% if venue.talk %}success{% elif venue.page %}info{% endif %} droppable {% if venue.talk or venue.page %}draggable{% endif %}"
                  data-scheduleitem-id="{{ venue.scheduleitem_id }}"
                  data-talk-id="{{ venue.talk.talk_id }}"
                  data-page-id="{{ venue.page.id }}"
                  data-type="{% if venue.talk %}talk{% elif venue.page %}page{% endif %}">
                {% if venue.scheduleitem_id %}
                  <button id="delete{{venue.scheduleitem_id}}"
                          data-id="{{ venue.scheduleitem_id }}"
                          type="button" class="close"
                          aria-label="{% trans 'Close' %}">
                    <span aria-hidden="true">
                      &times;
                    </span>
                  </button>
                {% endif %}
                {% if venue.talk and venue.talk.cancelled %}
                  <del>{{ venue.title }} ({% trans 'Cancelled' %})</del>
                {% else %}
                  {{ venue.title }}
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-4" id="wafer-edit-schedule-bucket">
    <h2>{% trans 'Bucket' %}</h2>

    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a href="#unassignedTalks"
             class="nav-link active"
             aria-controls="unassignedTalks"
             data-toggle="tab">
            <small>
            {% trans 'Unassigned Talks' %}
            </small>
          </a>
        </li>
        <li class="nav-item">
          <a href="#allTalks"
             class="nav-link"
             aria-controls="allTalks"
             data-toggle="tab">
            <small>
            {% trans 'All Talks' %}
            </small>
          </a>
        </li>
        <li class="nav-item">
          <a href="#pages" class="nav-link" aria-controls="pages" role="tab" data-toggle="tab">
            <small>
            {% trans 'Pages' %}
            </small>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active row"
             id="unassignedTalks">
          {% regroup talks_all by talk_type.name as grouped_talks %}
          {% for type, talks in grouped_talks %}
            {% if type %}
            <h6>
              {{ type }}
            </h6>
            {% endif %}
            {% for talk in talks %}
              <div draggable="true"
                    class="alert alert-success draggable"
                    style='font-size: smaller; padding: 2px; margin: 2px'
                    id="talk{{ talk.talk_id }}"
                    data-toggle="tooltip" data-placement="left"
                    title="{{ talk.title }}"
                    {% if talk not in talks_unassigned %}
                      hidden
                    {% endif %}
                    data-type="talk" data-talk-id="{{ talk.talk_id }}">
                {% if not talk.cancelled %}
                  {{ talk.title }}
                  <br/>
                  <small>{{ talk.track }}</small>
                {% else %}
                  <del title='{% trans 'Cancelled' %}'>{{ talk.title }}</del>
                {% endif %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane row"
             id="allTalks">
          {% regroup talks_all by talk_type.name as grouped_talks %}
          {% for type, talks in grouped_talks %}
            {% if type %}
            <h6>
              {{ type }}
            </h6>
            {% endif %}
            {% for talk in talks %}
              <div draggable="true"
                    class="alert alert-warning draggable"
                    style='font-size: smaller; padding: 2px; margin: 2px'
                    class="talk{{ talk.talk_id }}"
                    data-toggle="tooltip" data-placement="left"
                    title="{{ talk.title }}"
                    data-type="talk" data-talk-id="{{ talk.talk_id }}">
                {% if not talk.cancelled %}
                  {{ talk.title }}
                  <br/>
                  <small>{{ talk.track }}</small>
                {% else %}
                  <del title='{% trans 'Cancelled' %}'>{{ talk.title }}</del>
                {% endif %}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
        <div role="tabpanel" class="tab-pane row" id="pages">
          {% for page in pages %}
            <div draggable="true"
                  class="alert alert-info draggable"
                  style='font-size: smaller; padding: 2px; margin: 2px'
                  id="page{{ page.id }}"
                  data-toggle="tooltip" data-placement="left"
                  title="{{ page.name }}" data-type="page" data-page-id="{{ page.id }}">
              {{ page.name }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_foot %}
<script src="{% static 'js/edit_schedule.js' %}"></script>
{% endblock %}
